:root {
    --verde-clarinho: rgb(161, 202, 168);
    --verde-escuro: darkolivegreen ;
    --verde-meio-a-meio: rgb(51, 119, 51);
}

body{
    background-color: var(--verde-clarinho);
}
h1{
    text-align: center;
    background: var(--verde-escuro) ;
    color: white;
    font-size: larger;
}
p{
    text-align: start;
    background: var(--verde-meio-a-meio);
    color: black;
    font-size: medium;
}
h3{
    text-align: center;
    color: black;
    font-size: medium;
}
.caixa-img{
    text-align: center;
}