:root{
    --cor-de-fundo: #a8c7c2;
    --cor-texto: #000000;
}

.texto-inicial{
    font-size: 45px;
    color: black;
}

body{
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
